#
# the usual things to not put in the repo
temp.*
temp/
log/
logs/
repo_ignore/
build/
*.log
__pycache__
.latus
#
# from PyCharm
.idea
#
# test files are programmatically generated
data/
#
# compiled files
*.pyc
#
# using MANIFEST.in to drive builds (MANIFEST created programmatically)
MANIFEST
#
# this is programmatically created
installers/installer.cfg
#
# don't put the big dist files in the repo
dist/

*.lky
osnapy
cache
venv
.cache
test_latus/data
_build_.py