#
# the usual things to not put in the repo
temp.*
temp/
log/
logs/
data/
repo_ignore/
build/
dist/*.zip
*.log
__pycache__
.latus
#
# from PyCharm
.idea
#
# test files are programmatically generated
test/data/
#
# compiled files
*.pyc
__pycache__/
#
# using MANIFEST.in to drive builds (MANIFEST created programmatically)
MANIFEST