#
# the usual things to not put in the repo
temp.*
temp/
log/
logs/
repo_ignore/
build/
*.log
__pycache__
.latus
#
# from PyCharm
.idea
#
# test files are programmatically generated
data/
#
# stuff in the dist that are used to make the installer
dist/latus.exe
dist/*.dll
dist/platforms/*.dll
#
# compiled files
*.pyc
__pycache__/
#
# using MANIFEST.in to drive builds (MANIFEST created programmatically)
MANIFEST