
[Application]
name=latus
version=1.0
# How to launch the app - this calls the 'main' function from the 'myapp' package:
entry_point=latus:main
#icon=myapp.ico

[Python]
version=3.4.2

[Include]
# Importable packages that your application requires, one per line
packages = cryptography
 latus
 sqlalchemy
 PyQt5

# Other files and folders that should be installed
files = LICENSE